@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0
}
body {
	background:#333;
	-moz-user-select:none;
	text-align:center;
	font-size:12px
}
table {
	margin:80px auto 10px auto;
	overflow:hidden;
	border-collapse:collapse;
}
td {
	width:20px;
	height:20px;
	border:1px solid #eee;
	background:#f4f4f4
}
.cover {
	background:#39c;
}
.food {
	background:#093
}
.block {
	background:#333
}
.brake {
	background:#f00
}
.skate {
	background:#00f
}
#say {
	margin-top:50px;
	color:white
}
#help {
	width:420px;
	margin:0 auto;
	line-height:17px;
	color:white
}
#help span {
	float:left;
	margin-right:10px
}
#help .box {
	width:15px;
	height:15px;
	margin-right:5px;
	border:1px solid white
}
#btnStart {
	clear:both;
	width:100px;
	height:30px;
	margin-top:10px;
	padding:0;
	background:#bbb;
	color:#222;
	border:1px solid #fff;
	border-bottom-color:#000;
	border-right-color:#000;
	cursor:pointer
}